
/* INICIO DAS CONFIGURAÇÕES DO FORMULÁRIO DE CADASTRO DE USUÁRIO */

.cad-user {
    font-size: 1.5rem;
    width: 85vw;
    max-width: 800px;
}

.cad-user label {
    display: block;
    padding-top: 1rem;
}

.cad-user input {
    height: 3rem;
    border: 1px solid #ccc;
    width: 100%;
}

.cad-user input:focus {
    border: 2px solid var(--azul_1);
}

.cad-user fieldset {
    margin: 1.5rem 0;
    border: none;
    background-color: var(--branco_1);
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cad-user fieldset p {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    padding-bottom: 2rem;
}

.cad-user fieldset h2 {
    text-align: left;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.box {
    width: 90%;
    max-width: 40rem;
}

.sexo {
    padding: 0 !important;    
}

.sexo > label {
    display: inline-block;
    vertical-align: super;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
}

.sexo > input {
    vertical-align: bottom;
    width: 1rem;
}

.text-senha > p {
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1rem !important;
    padding: .3rem 0 !important;
}

.btn-form {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 8rem;
    background-color: var(--azul_1);
    border: none;
    border-radius: 1.5rem;
    color: var(--branco_1);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-form:hover {
    color: var(--azul_1);
    background-color: var(--branco_1);
}

/* FIM DAS CONFIGURAÇÕES DO FORMULÁRIO DE CADASTRO DE USUÁRIO */